{% extends '/oauth/oauth.html.twig' %}

{% block head %}
    <title>Authorise application</title>
{% endblock %}

{% block content %}
    <div class="authorise">
        <div class="message">
            <p class="message__header">{{ client }} is requesting the following permissions from your account:</p>
            {% for scope in scopes %}
                <p class="message__body">{{ scope.getIdentifier() }}</p>
            {% endfor %}
        </div>
        <div class="message">
            <p class="message__body"><a class="message__body__link--button" href="/oauth/authorise/allow">Allow</a></p>
            <p class="message__body"><a class="message__body__link--light" href="/oauth/authorise/deny">Cancel</a></p>
        </div>
    </div>
{% endblock %}