{% extends '/oauth/oauth.html.twig' %}

{% block head %}
    <title>Invalid</title>
{% endblock %}

{% block content %}
    <div class="invalid">
        <div class="message">
            <p class="message__header">Invalid</p>
            <p class="message__body">Sorry, the details you've given are invalid.</p>
        </div>
    </div>
{% endblock %}